.navbar-custom {
    color: #337ab7!important;
}
.navbar-custom:hover{
    color: #fff!important;
    transition: 500ms;
}
.navbar-brand {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #337ab7;
    border-radius: 50%;
}

.nav-link {
    font-weight: bold;
    color: #fff;
    text-align: right;
}
.nav-link:hover {
    color: #337ab7!important;

}

.navbar-toggler{
    color: #fff;
    background-color: #fff;
    padding: 7px;

}

a:active{
    color:#337ab7;
}

a:target{
    color:#337ab7;
}

