.navbar {
    margin-bottom: 20px;
    border-radius: 10px;
}
.navbar-brand {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: steelblue;
}
.nav-link {
    font-weight: bold;
    color: black;
}